*{ margin:0; padding:0; font-family: Arial; }

body{
  margin: 0;
  padding: 0;
  background-color: #DDDDDD;
  position: relative;
  z-index: 1;
}

#main_top{}

.req{ color: #CC0000; }

.pulled-up{ margin-top: -10px; }

.pushed-down{ margin-top: 20px; }

#navbar-notifications{
  background: #EC502A;
  cursor: pointer;
  margin-top: -10px;
  text-align: center;
  color: #fff;
  padding: 0;
  border-radius: 50%;
  font-size: 14px;
  min-width: 25px;
  height: 25px;
  line-height: 24px;
  font-weight: bold;
  position: relative;
  /*top: 9px;*/
}

/* MAIN CONTENT CONTAINER */
#main_container{
  width:98%;
  background-color: #FFFFFF;
  margin: 0px auto;
  padding:20px 10px 50px 10px;
  z-index: 3;
}

#main_inner_container{
  width:98%;
  margin: 40px auto 0 auto;
  padding:0 0 50px 0;
  z-index: 3;
}
/* MAIN CONTENT CONTAINER */

th{ text-align: center; padding: 5px; }

select {
  height: 34px !important;
}

.partBody{
  margin: 0;
  padding: 0;
  border: 0;
}

.partDiv{
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #0000FF;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 14pt;
}

.partContent{
  position: absolute;
  top: 5px;
  left: 5px;
}

/* UTILITY CLASSES */
.centered{ margin: 0 auto; }
.inlined{ display: inline; }
.reqIndicator{ margin-bottom: 20px;}
/*.required{ color: #DD0000; }*/
.bordered-left{ border-left:1px solid #CCCCCC; }
.bordered-right{ border-right:1px solid #CCCCCC; }
.element_over{margin-left: -20px; z-index: 10;}
.pointer{ cursor: pointer; }
/* UTILITY CLASSES */

/* PROJECT COLORS*/
.clr-black{
  background: #000000; /* Old browsers */
  background: linear-gradient(#333333, #000000);
}
.clr-blue{
  background: #2D89EF; /* Old browsers */
  background: linear-gradient(#519DEF, #2D89EF);
}
.clr-darkblue{
  background: #2a7095; /* Old browsers */
  background: linear-gradient(#2a7095, #146088);
}
.clr-darkgreen{
  background: #1E7145; /* Old browsers */
  background: linear-gradient(#247A4C, #1E7145);
}
.clr-darkorange{
  background: #DA532C; /* Old browsers */
  background: linear-gradient(#E55C37, #DA532C);
}
.clr-fuschia{
  background: #b91d47; /* Old browsers */
  background: linear-gradient(#CE375F, #b91d47);
}
.clr-gray{
  background: #AAAAAA; /* Old browsers */
  background: linear-gradient(#DCDCDC, #AAAAAA);
}
.clr-orange{
  background: #e0a02d; /* Old browsers */
  background: linear-gradient(#e0a02d, #cd8b14);
}
.clr-purple{
  background: #7a4e79; /* Old browsers */
  background: linear-gradient(#7a4e79, #613c60);
}
.clr-red{
  background: #ca413e; /* Old browsers */
  background: linear-gradient(#ca413e, #b7312d);
}
.clr-teal{
  background: #1a9e96; /* Old browsers */
  background: linear-gradient(#1a9e96, #0a9188);
}

.make-blue{ color: #000099; }
.make-green{ color: #006837; }
.make-gray{ color: #DDDDDD; }
.make-red{ color: #990000; }
.make-yellow{ color: #e0a02d; }

.progicon, .indicon{cursor: pointer;}

.pIcoPen{ color: #DDDDDD; }
.pIcoComp{ color: #006837; }
.pIcoOver{ color: #990000; }

/* PROJECT COLORS*/

.strikethrough{
  text-decoration: line-through;
}

/* PROJECT BUTTONS */
.btn-gray {
  background-color: #4a565c;
  border-color: #4a565c;
  color:#FFFFFF;
  text-decoration: none;
}
.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active {
  background-color: #3f494e;
  border-color: #333c40;
  color:#FFFFFF;
  text-decoration: none;
}
.btn-gray.disabled:hover,
.btn-gray.disabled:focus,
.btn-gray.disabled:active,
.btn-gray.disabled.active,
.btn-gray[disabled]:hover,
.btn-gray[disabled]:focus,
.btn-gray[disabled]:active,
.btn-gray[disabled].active,
fieldset[disabled] .btn-gray:hover,
fieldset[disabled] .btn-gray:focus,
fieldset[disabled] .btn-gray:active,
fieldset[disabled] .btn-gray.active {
  background-color: #4a565c;
  border-color: #4a565c;
  color:#FFFFFF;
  text-decoration: none;
}
/* PROJECT BUTTONS */

/* COMMON ELEMENTS*/
a{ text-decoration: none; }

#sidebar li{ padding: 8px 0; background: #ffffff; }
#sidebar li:nth-child(even){ background: #f5f5f5; }
/* COMMON ELEMENTS*/

/* COMMON CLASSES*/
.frmElement{ margin: 20px 40px; }

.frmElementSubmit{ margin: 35px 40px 50px 40px; }

.downloadables li>a, .downloadables li>a:link, .downloadables li>a:active, .downloadables li>a:visited{
  font: regular 11pt Arial;
  color: #3366AA;
  text-decoration: underline;
}
.downloadables li>a:hover{ text-decoration: none; }
/* COMMON CLASSES*/

/* COMMON IDS*/
#full_page{
  width: 98%;
  margin: 0 auto;
  position:relative;
  background-color: #EAEDF1;
}

/* HEADER */
#header{
  width:100%;
  height: 84px;
  margin:0 auto;
  position:relative;
}

#header img{
  position:relative;
  top: 12px;
  left:22px;
}

#header span.sp_controls{
  position: absolute;
  top:22px;
  right: 36px;
  font: normal 12pt Arial;
  color:#000000;
  line-height: 30px;
}

#header span.sp_controls a,
#header span.sp_controls a:link,
#header span.sp_controls a:active,
#header span.sp_controls a:visited
{
  font: normal 12pt Arial;
  color:#000000;
  line-height: 30px;
}

#header span.sp_controls a:hover{ text-decoration: underline; }
/* HEADER */

#ajaxloading{
  position:absolute;
  top:85px;
  width:100%;
  height:60px;
  background:#FFFFFF;
  margin:0 auto;
  text-align:center;
  z-index:8;
  display:none;
}

/* NAV BAR */
.nav_banner{
  width:100%;
  height: 24px;
  margin:-8px auto 0 auto;
  background-color: #FFF;
  color: white;
  z-index: 50;
}

.nav_banner .navbar{
  position: relative;
  margin: 10px 0 0 36px;
  font: normal 12pt Arial;
  line-height: 44px;
}
.nav_banner .navbar:before{ content: none; }

.nav_banner .navbar a,
.nav_banner .navbar a:link,
.nav_banner .navbar a:active,
.nav_banner .navbar a:visited
{
  color: #333;
  text-decoration: none;
}

.nav_banner .navbar a:hover{ text-decoration: underline; }

.search_box{
  width: 35%;
  float: right;
  text-align:right;
  padding: 0 36px 0 0;
  margin-top: -34px;
}

.search_box #landing_search{
  width:200px;
  line-height: 1em;
  padding:4px;
  font-size: 12px;
  border:2px solid rgb(220,220,220);
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#header .dropdown-menu {
  background-color: #006837;
  color: #000000;
}

#header .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
  background-color: #006837;
  color: black;
}
/* NAV BAR */

/* ~~~LANDING PAGE~~~ */
.button_bar{ margin: 45px 5px 5px 0; }
.filterQueue{
  /*width: 30%;*/
  float:right;
  font: normal 10pt Arial;
  color: #FFFFFF;
  margin: 8px 5px 0 0;
}
.filterQueue input{ color: #333333; padding: 0 4px; }

.landing_buttons{ margin: 0; }

.tblLanding{
  width: 100%;
  margin: 0 auto 30px auto;
  border-spacing: 1px;
  border:1px solid #BBBBBB;
  border-top:none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}

.sizeMyTable{
  min-height: 100px;
  max-height:300px;
  overflow: auto;
  overflow-x: hidden;

}

.tblLanding .landing_header_row{
  background-color:#DDDDDD;
  height: 25px;
  width:100%;
  font: bold 10pt Arial;
}

.tblLanding .landing_header_row th{ cursor: pointer; }

.tblLanding .landing_data_row{
  background-color:#FFFFFF;
  height: 32px;
  font: normal 10pt Arial;
}

.tblLanding .landing_data_row a,
.tblLanding .landing_data_row a:link,
.tblLanding .landing_data_row a:active,
.tblLanding .landing_data_row a:visited{
  font:normal 10pt Arial;
  color: #3366AA;
  text-decoration: underline;
}

.tblLanding .landing_data_row a:hover{ color: #990000; text-decoration: none; }

.tblLanding .landing_data_row td{ padding: 5px;}

.landing_header_bar{
  width:100%;
  height: 35px;
  margin:0 auto;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  border:1px solid #BBBBBB;
  border-bottom:none;
}

h3.divider_title{
  font: bold 14pt Arial;
  color:#FFFFFF;
  line-height: 32px;
}

.btnToggleLanding{
  cursor: pointer;
  margin: -5px 10px 0 10px;
}

.view_control{
  margin-top:-10px;
  float:right;
  font: bold 10pt Arial;
}

.view_control select{
  width: 200px;
  padding:3px;
  font: bold 10pt Arial;
  background-color:#FFFFFF;
}
/* ~~~LANDING PAGE~~~ */

/* ~~~MODAL WINDOW~~~ */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 50000;
}

.wModal {
  position: relative;
  width: 700px;
  margin:50px auto 0 auto;
  background: #fff;
  opacity: 1;
  padding: 15px 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
}
.wModal .close-modal{
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  cursor: pointer;
  width: 60px;
  height: 30px;
  /*text-indent: -9999px;*/
  background: url(../../Images/close_circle.png) no-repeat right top;
}

.wModal .close-modal a {
  font: bold 11pt Arial;
  color: #666666;
  text-decoration:none;
}

.wModal h1{
  margin: 28px 28px 38px 28px;
  font: normal 30pt Arial;
  color: #555555;
}

.wModal label{
  display: block;
  font: bold 11pt Arial;
  color: #333333;
}

.wModal option, .wModal .chkbx_choice{
  font: normal 12pt Arial;
  color: #333333;
  line-height: 2em;
}

.wModeal input[type=text]{
  width: 240px;
  padding: 5px;
  font: normal 12pt Arial;
  color: #333333;
  line-height: 2em;
}
.wModal select{
  width: 240px;
  font: normal 12pt Arial;
  color: #333333;
  line-height: 2em;
}
/* ~~~MODAL WINDOW~~~ */

/* ~~~FORM PAGES~~~ */
.frmFull_Page{
  background-color: white;
  padding: 10px 10px;
}

h1.frmTitle{
  margin:32px 0 12px 0;
  font:normal 24pt Arial;
  line-height: 20pt;
  color:#333333;
}

.frmBar{
  width:100%;
  height: 42px;
  margin:0 auto;
  margin-bottom: 15px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
}

.frmBarsm{
  width:100%;
  height: 32px;
  margin:0 auto;
  margin-bottom: 10px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
}

.frmBarsm h6{
  font: normal 11pt Arial;
  color:#FFFFFF;
  line-height: 22px;
  margin: 5px 0;
  padding: 0 0 0 15px;
}

.frmBar h3{
  font: normal 16pt Arial;
  color:#FFFFFF;
  line-height: 32px;
  margin: 5px 0 0 0;
  padding: 0 0 0 15px;
}

.frmBar h5{
  font: normal 12pt Arial;
  color:#FFFFFF;
  line-height: 32px;
  margin: 5px 0 0 0;
  padding: 0 0 0 15px;
}

.frm_pane{
  background-color:#FFFFFF;
  width:100%;
  margin:-14px auto 0 auto;
  padding:10px 40px;
  border: 1px solid #BBBBBB;
  border-top: none;
}

#file { display: none; }

.dummyfile input[type="text"] {
  width: 300px;
  display: inline;
}

.datepicker{ width: 220px; }

label.instructions{ font-weight: normal; }

fieldset{
  border:1px solid #006837;
  padding: 10px;
}

legend{
  width: auto;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #006837;
}

.progress{ width: 20px; height: 30px; }

.progress a[data-tooltip]:hover:before {
  content: attr(data-tooltip);
  display: block;
  position: absolute;
  color: white;
  background: #006837;
  padding: 5px 5px;
  margin:-25px 0 0 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  white-space: nowrap;
}

.progicon{
  font-size: 18px;
}
.progicon .pending{color: #CCCCCC;}
.progicon .completed{color: #006837;}
.progicon .overdue{color: #990000;}
.pendicon, .indicon{ cursor: pointer; }
/* ~~~FORM PAGES~~~ */

.flashmsg{
  position: absolute;
  top: 20px;
  right: 20px
}

.instructions{
  font-size:10px;
  color: #3f494e;
}

.clrOn { color: #333333; }
.clrOff { color: #DDDDDD; }

label{font-size:11px;}
.selView{font-size:14px;}

.btn-primary{
  background-color: #006837;
  border-color: #006837;
}

.ngHeaderCell {
  background-color: #006837 !important;
  bottom: 0;
  color: #FFFFFF !important;
  position: absolute;
  top: 0;
  z-index: 0 !important;
}

.ngHeaderContainer{ z-index: 0 !important;}

/*.gridStyle {
  border: 1px solid rgb(212,212,212);
  width: 100%;
  height: 700px
}*/


.clrOn { color: #333333; }
.clrOff { color: #dddddd; }
.clrAlert { color: #ba0000; }

.ngRow.even {
  background-color: rgb(255, 255, 255);
}
.ngRow.odd {
  background-color: rgb(255, 255, 255);
}

.display-field{
  font-size: 16px;
  font-weight: normal;
  display: inline;
}

.txt-negative{ color: #990000; }
.txt-positive{ color: #000000; }

/* SPECIAL CHECKBOX: SQUARED FOUR */
.squaredFour {
  width: 20px;
  margin: 20px auto;
  position: relative;
}

.squaredFour label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  border-radius: 4px;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.squaredFour label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 4px;
  left: 4px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.squaredFour label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.5;
}

.squaredFour input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

/* NG-GRID ADDITION */
.gridStyle {
  border: 1px solid rgb(212,212,212);
  width: 100%;
  height: 300px
}
/* NG-GRID ADDITION */

.rowed td{border:1px solid #dddddd; }

/* xEDITABLE ADDITION */
.editable-click, div.editable-click{
  color: #009;
  cursor: pointer;
}

.editable-click, div.editable-click{
  border-bottom: none;
}
/* xEDITABLE ADDITION */

.edit-in-place span {
  cursor: pointer;
  color: #009;
  border-bottom: 1px dotted #009;
  text-decoration: none;
}

.edit-in-place.active input {
  display: inline-block;
}

.edit-in-place.active select {
  display: inline-block;
}

.libraryFull_Page{
  background-color: white;
}

/*FINANCIALS*/
.totaline td{
  border-top:1px solid #333333 !important;
  border-bottom:1px solid #333333 !important;
}
.pc_gridStyle {
  border: 1px solid rgb(212,212,212);
  width: 100%;
  height: 300px;
}
.ngHeaderContainer .ngHeaderCell{
  text-align: center;
}
.bright{ border-right: 1px solid #333 !important; }
.bleft{ border-left: 1px solid #333 !important; }
.red{ color: red; }
/*FINANCIALS*/

.ngTopPanel{ z-index: inherit;}

.nav-tabs>li>a {color: #333333; }

/* FOR COMMENT CARDS */
.alert-response{
    width:90%;
    margin: 0 auto 10px auto;
    font-size: 11px;
    color: #333;
    background-color: #FFFFFF;
    border-color: #006837;
}
.alert-response hr{
    margin:3px 0;
    border: 0;
    border-top: 1px solid #bcbcbc;
}
.alert-default{
    color: #333333;
    background-color: #EBEBEB;
    border-color: #ADADAD;
}
.alert-default hr{
    margin:3px 0;
    border: 0;
    border-top: 1px solid #bcbcbc;
}
.alert-info hr{
    margin:3px 0;
    border: 0;
    border-top: 1px solid #BAC9E0;
}
.alert-warning hr{
    margin:3px 0;
    border: 0;
    border-top: 1px solid #E5E3C3;
}
.alert-danger hr{
    margin:3px 0;
    border: 0;
    border-top: 1px solid #DBC2BE;
}
.alert-success hr{
    margin:3px 0;
    border: 0;
    border-top: 1px solid #B8D9BA;
}
.alert-other{
    color: #680031;
    background-color: #ffcae3;
    border-color: #2d0015;
}
.alert-other hr{
    margin:3px 0;
    border: 0;
    border-top: 1px solid #ffcae3;
}

