.clr-black {
  background: #000000;
  /* Old browsers */
  background: linear-gradient(#aaaaaa, #000000);
}
.clr-gray {
  background: #aaaaaa;
  /* Old browsers */
  background: linear-gradient(#cccccc, #aaaaaa);
}
.clr-darkgreen {
  background: #006837;
  /* Old browsers */
  background: linear-gradient(#006837, #00ce6d);
}
.make-blue {
  color: #000099;
}
.make-green {
  color: #006837;
}
.make-gray {
  color: #cccccc;
}
.make-red {
  color: #990000;
}
.make-yellow {
  color: #e0a02d;
}
.cBlack {
  color: #000000;
}
.cBlue {
  color: #000099;
}
.cGray {
  color: #cccccc;
}
.cGreen {
  color: #006837;
}
.cOrange {
  color: #ff4500;
}
.cRed {
  color: #990000;
}
.cYellow {
  color: #e0a02d;
}
.clrOn {
  color: #000000;
}
.clrOff {
  color: #cccccc;
}
.clrAlert {
  color: #ba0000;
}
.pIcoPen {
  color: #cccccc;
}
.pIcoComp {
  color: #006837;
}
.pIcoOver {
  color: #990000;
}
#colIcon .list-group {
  width: 60px;
  text-align: center !important;
  margin-top: -15px;
}
#colIcon .glyphicon {
  line-height: inherit !important;
}
#colIcon .list-group-item.lnk {
  padding: 2px 10px !important;
  color: #ffffff;
  background-color: #006837;
  font-weight: normal;
  cursor: pointer;
}
#colIcon .list-group-item.lnk2 {
  padding: 2px 10px !important;
  color: #006837;
  background-color: #ffffff;
  font-weight: normal;
  cursor: pointer;
}
#colIcon .list-group-item.active {
  background-color: #000000;
  border-color: #ffffff;
}
#colPush .list-group {
  width: 160px;
  margin-top: -15px;
}
#colPush .glyphicon {
  line-height: inherit !important;
}
#colPush .list-group-item.lnk {
  padding: 2px 10px !important;
  color: #ffffff;
  background-color: #006837;
  font-weight: normal;
  cursor: pointer;
}
#colPush .list-group-item.lnk2 {
  padding: 2px 10px !important;
  color: #006837;
  background-color: #ffffff;
  font-weight: normal;
  cursor: pointer;
}
#colPush .list-group-item.active {
  background-color: #000000;
  color: #ffffff;
  border-color: #ffffff;
}
#colPush .list-group-item.lnk.active {
  background-color: #000000;
  color: #ffffff;
  border-color: #ffffff;
}
#colPush .list-group-item.lnk2.active {
  background-color: #000000;
  color: #ffffff;
  border-color: #ffffff;
  font-weight: normal !important;
}
