<div>
    <div class="row" style="background-color: white; width:60%; margin:50px auto 0 auto;">
        <div class="col-lg-1">&nbsp;</div>
        <div class="col-lg-5">
            <img src="images/ARM_Logo.jpg" style="width:300px;"/>
        </div>
        <div class="col-lg-5">
            <br>
            <span>
                <br><br>
            </span>
            <span class="label label-danger"
                  style="font-size: 14px;" ng-if="loginError">
                Invalid Username/Password.
            </span>
            <form>
                <div class="form-group">
                    <input type="email" class="form-control"
                           placeholder="Email"
                           ng-model="creds.email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control"
                           placeholder="Password"
                           ng-model="creds.password">
                </div>
                <button class="btn btn-arm" ng-click="login(creds)">Submit</button>
            </form>
        </div>
        <div class="col-lg-1">&nbsp;</div>
    </div>
</div>
