<div class="frmFull_Page">
    <!-- APPLICATIONS -->
    <div class="row view-page-header-bar">
        <div class="col-md-12">
            <h5 style="display: inline;
                       font-size: 16px;
                       line-height: 30px">
                Loans
            </h5>
            <span class="pull-right"
                  style="display: inline; margin-top:-3px;">
                <form>
                    <select class="form-control"
                            name="landing_view"
                            ng-model="home.landing_view"
                            ng-change="home.changeLandingView(home.landing_view)">
                        <option value="settings">My Settings</option>
                        <option value="all">All Loans</option>
                        <option value="spring">Active Spring Loans</option>
                        <option value="fall">Active Fall Loans</option>
                    </select>
                </form>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <!--ng-grid-->
            <div
                class="gridStyle tblLanding"
                style="height:480px; margin-top:10px;"
                ng-grid="home.gridOptions">
            </div>
            <!--ng-grid-->
        </div>
    </div>

    <div class="row" style="display: none;">
        <div class="col-sm-12">
            <pre>{{home.loans|json}}</pre>
        </div>
    </div>

</div>