<div class="header arm-title-bar">
    <a href="#/main/home">
        <img src="images/LENDA_Logo.png" style="height:70px;"/>
    </a>
    <span class="sp_controls">
        <notificator counts="user.notificator" ng-if="user.notifications.length > 0"></notificator>
        Welcome, {{user.name}}
        &nbsp;&nbsp;|&nbsp;&nbsp;
        Location: {{user.loc_abr}}
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a ui-sref="arm.prefs">My Settings</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#" ng-click="logout()">Logout</a>
    </span>
</div>