<div id="" class="header arm-title-bar">
    <a href="#/main/home">
        <img src="images/LENDA_Logo.png" style="height:70px;"/>
    </a>
    <span class="sp_controls">
        <notificator counts="main.user.notificator" ng-if="main.user.notifications.length > 0"></notificator>
        Welcome, {{main.user.name}}
        &nbsp;&nbsp;|&nbsp;&nbsp;
        Location: {{main.user.loc_abr}}
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a ui-sref="main.prefs">My Settings</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#" ng-click="main.logout()">Logout</a>
    </span>
</div>