<div class="header nav_banner" style="z-index:3;">
    <span class="navbar">
        <a ui-sref='main.home'>
            Loan Listing
        </a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a ui-sref="loans.management">
            Loan Management
        </a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <span class="dropdown" dropdown on-toggle="menu.toggled(open)">
            <a href class="dropdown-toggle" dropdown-toggle>
                New Loan Application <span class="menuglyphs glyphicons glyphicons-chevron-down"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="l in menu.loantypes">
                    <a ng-click="newLoan(l.id, feeder.loantypes)">
                        {{l.loantype}}
                    </a>
                </li>
            </ul>
        </span>
        &nbsp;&nbsp;|&nbsp;&nbsp;
         <a ui-sref="reports.home">
             Reports
         </a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <span class="dropdown" dropdown on-toggle="menu.toggled(open)">
            <a href class="dropdown-toggle" dropdown-toggle>Library <span class="menuglyphs glyphicons glyphicons-chevron-down"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a ui-sref="library.classroom">Classroom</a>
                </li>
                <li>
                    <a ui-sref="library.resources">Employee Resources</a>
                </li>
                <li>
                    <a  ui-sref="library.legaldocs">Legal Documents</a>
                </li>
                <li>
                    <a  ui-sref="library.loanproducts">Loan Products</a>
                </li>
                <li>
                    <a  ui-sref="library.polsprocs">Policies &amp; Procedures</a>
                </li>
                <li>
                    <a  ui-sref="library.matrix">Responsibility Matrix</a>
                </li>
                <li>
                    <a  ui-sref="library.guide">User Guide</a>
                </li>
            </ul>
        </span>
        <span ng-show="main.user.is_admin">
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <span class="dropdown" dropdown on-toggle="menu.toggled(open)">
                <a href class="dropdown-toggle" dropdown-toggle>Admin <span class="menuglyphs glyphicons glyphicons-chevron-down"></span></a>
               <ul class="dropdown-menu" role="menu">
                   <li class="dropdown-submenu">
                       <a ui-sref-active="active">Feeders</a>
                       <ul class="dropdown-menu">
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.agents">
                                   Agents &amp; Agencies
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.crops">
                                   Crops
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.distributors">
                                   Distributors
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.entitytypes">
                                   Entity Types
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.instypes">
                                   Insurance Types
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.loantypes">
                                   Loan Types
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.locations">
                                   Locations
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.regions">
                                   Regions
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.roles">
                                   Roles
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.measures">
                                   UoM
                               </a>
                           </li>
                       </ul>
                   </li>
                   <li class="dropdown-submenu">
                       <a ui-sref-active="active">Library</a>
                       <ul class="dropdown-menu">
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.pdfapps">
                                   Applications
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.resources">
                                   Employee
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.legaldocs">
                                   Legal
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.policies">
                                   Policies
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.products">
                                   Products
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.matrix">
                                   Resp Matrix
                               </a>
                           </li>
                       </ul>
                   </li>
                   <li class="dropdown-submenu">
                       <a ui-sref-active="active">System</a>
                       <ul class="dropdown-menu">
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.archive">
                                   Archive Loans
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.quickbooks">
                                   QB Sync
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.recon_requests">
                                   Req Reconciles
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.inspect_requests">
                                   Req Inspects
                               </a>
                           </li>
                       </ul>
                   </li>
                   <li class="dropdown-submenu">
                       <a ui-sref-active="active">Loans</a>
                       <ul class="dropdown-menu">
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.graderspecs">
                                   Budgets
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.closings">
                                   Closing
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.committeespecs">
                                   Committee
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.loans.list">
                                   Data
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.globals">
                                   Globals
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.graderspecs">
                                   Grade
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.insurance">
                                   Insurance
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.prerequisites">
                                   Prerequisites
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.measures_converter">
                                   UoM Conversions
                               </a>
                           </li>
                       </ul>
                   </li>
                   <li>
                       <a ui-sref-active="active" ui-sref="admin.reports">
                           Reports
                       </a>
                   </li>
                   <li class="dropdown-submenu">
                       <a ui-sref-active="active">Users</a>
                       <ul class="dropdown-menu">
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.applicants">
                                   Applicants
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.farmers">
                                   Farmers
                               </a>
                           </li>
                           <li>
                               <a ui-sref-active="active" ui-sref="admin.users">
                                   Staff
                               </a>
                           </li>
                       </ul>
                   </li>
               </ul>
            </span>
        </span>
    </span>
    <span class="search_box" style="display:none;"></span>
</div> 